:root {
  --gray: #C0C0C0;
  --bianco: rgb(211, 211, 211);
  --rosso: rgb(255, 0, 0);
  --rosso2: #cc0000;
  --rosso3: rgb(126, 27, 27);
  --nero: rgb(14, 13, 13);
}

* {
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Mistral";
  src: url("fonts/MISTRAL.TTF");
}

@font-face {
  font-family: "Lombardic";
  src: url("fonts/LOMBARDC.TTF")
}

@font-face {
  font-family: "MrsEaves";
  src: url("fonts/MrsEavesSmallCaps.otf")
}


html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: var(--bianco);
  background-color: var(--nero);
  max-width: 80%;
}

h1 {
  font-family: Lombardic;
  text-shadow: 3px 4px 3px #000000;
}

h2,
h3 {
  font-family: MrsEaves;
  text-shadow: 3px 4px 3px #000000;
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img {
  max-width: 37.5em;
  /* 600px /16 */
}

p,
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: var(--rosso2);
}

a[href]:hover {
  color: var(--rosso);
}

/*a[href]:visited {
  color: var(--rosso2);
}*/

main {
  padding: 1rem;
}

main :first-child {
  margin-top: 0;
}

header {
  border-bottom: 1px dotted var(--rosso);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none;
  /* override del, ins, mark defaults */
  color: inherit;
  /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line+br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0;
  /* 16px /16 */
  font-size: 1.5em;
  /* 16px /16 */
  font-family: Lombardic;
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
  font-family: Mistral;
  font-size: 20px;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  /*text-decoration: underline;*/
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  counter-increment: start-from -1;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: ""counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--bianco);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em;
  /* 4px 3px /16 */
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em;
  /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em;
  /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em;
  /* 8px /10 */
  background-color: var(--rosso3);
  color: var(--nero);
  border-radius: 0.25em;
  /* 3px /12 */
  text-decoration: none;
}

.tag:hover {
  background-color: var(--rosso);
}

a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: var(--rosso3);
  padding: 1em 0.625em;
  /* 16px 10px /16 */
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover>a[href].direct-link,
:hover>a[href].direct-link:visited {
  color: #aaa;
}

/* Tabelle */

#timeline {
  border-collapse: collapse;
  width: 100%;
}

#timeline td,
#timeline th {
  border: 1px solid rgb(95, 95, 95);
  padding: 8px;
}

#timeline tr:nth-child(even) {
  background-color: #1a1a1a;
}

#timeline tr:hover {
  background-color: black;
}

#timeline th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--rosso2);
  color: white;
}

/* Gallery */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

div.gallery img:hover {
  -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  ;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Mappe */

#map {
  height: 100%;
}

/* Footer */

footer {
  font-size: 0.7em;
  padding: 5px;
  margin-bottom: 1%;
}

/* Immagini generiche */

img {
  max-width: 100%;
  height: auto;
}