---
layout: layouts/home.njk
tags:
  - nav
navtitle: Discipline
permalink: /discipline/
date: 1956-01-01
---
<h1>Discipline</h1>

caino in progress

{% set postslist = collections.discipline %}
{% include "postslist-nodate.njk" %}