---
layout: layouts/home.njk
navtitle: Home
---

<h1>Cursed Legacy</h1>

<p>
Cursed Legacy racconta la storia di un gruppo di vampiri abbracciati nella San Francisco degli anni '50, della maledizione "ereditata" dai loro Sire e degli eventi legati alla corte del Principe Vannevar, cruciale baluardo della Camarilla negli Stati Uniti occidentali.
</p>

<img src="img/banner.jpg" alt="San Francisco56">

<p>La cronaca è scritta e narrata da <a href="https://andreacorinti.com" target="blank">Xab</a> ed è liberamente ispirata al romanzo <i><a href="https://www.goodreads.com/book/show/36925.Prince_of_the_City?ac=1&from_search=true" target="blank">Prince of the City</a></i> di Keith Herber.</p>

<p>A livello di regolamento, si basa sulla <a href="https://whitewolf.fandom.com/wiki/Vampire:_The_Masquerade_20th_Anniversary_Edition" target="blank">V20</a> del vecchio <i>Mondo di Tenebra</i>.</p>

<h3>Ultima Sessione</h3>

{% set postslist = collections.diario | head(-1) %}
{% include "postslist.njk" %}

<h2>I Protagonisti</h2>
{% for post in collections.protagonisti %}
<div class="responsive">
  <div class="gallery">
    <a href="{{ post.url | url }}">
      <img src="/{{ post.data.immagine }}" alt="{{ post.data.title }}" width="600" height="400">
    </a>
    <div class="desc">{{ post.data.title }}</div>
  </div>
</div>
{% endfor %}

<div class="clearfix"></div>
<div style="padding:6px;">

<hr />

<h2>Timeline</h2>
<div id="timeline">
	<table>
		<thead>
			<tr>
				<th>Anno</th>
				<th>Eventi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1859</td>
				<td>A seguito della sempre più rilevante influenza dei Kuei-Jin, il sempre più instabile Delfonso abdica al titolo di Principe in favore del primogeno Tremere: Montelaine</td>
			</tr>
			<tr>
				<td>1877</td>
				<td>Montelaine viene ucciso dai Kuei-jin, cadendo nella rete cospirativa del suo infante Cyrano, che diviene il nuovo Principe di San Francisco.</td>
			</tr>			
			<tr>
				<td>1902</td>
				<td>Nash, potente gangrel europeo, sfida e sconfigge Yurok assumendo il titolo di capobranco dei Moon Creek. Conseguentemente, Naira e Railsback abbandonano il branco.</td>
			</tr>
			<tr>
				<td>1905</td>
				<td>Nel dicembre di quest'anno si forma la coterie dei Corvi d'Avorio guidata da Jacques. Ne fanno parte Zeno, Naira, Railsback e Il Diacono.</td>
			</tr>
			<tr>
				<td>1906</td>
				<td><a href="/database/terremoto-del-1906">Terremoto di San Francisco</a>. Numerosi Fratelli periscono, compreso lo stesso Principe Cyrano. Zeno e Naira lasciano la città, Jacques torna in Europa, il Diacono scompare dai radar mentre Railsback supporta la scalata al potere di Vannevar, primogeno ventrue.</td>
			</tr>
			<tr>
				<td>1908</td>
				<td>La comunità cainita di San Francisco è nel caos: per via delle lotte di potere la città non ha ancora un Principe. Sebastian Melmoth giunge in città e fonda il Vampire Club, divenendo un fondamentale alleato di Vannevar.</td>
			</tr>
			<tr>
				<td>1913</td>
				<td>Rothstein arriva a San Francisco dove compra il Verdi Club</td>
			</tr>														
			<tr>
				<td>1914</td>
				<td>Scoppia la Prima Guerra Mondiale, Nasce Otto</td>
			</tr>
			<tr>
				<td>1916</td>
				<td>Dopo anni di lotte e complotti, Vannevar diviene ufficialmente il Principe di San Francisco. Alcuni vedono nella sua nomina la mano di Karsh, leggendario warlord della Camarilla, altri i misteriosi Kuei-Jin.</td>
			</tr>
			<tr>
				<td>1917</td>
				<td>Il vampiro Nikolai giunge a San Francisco: convinto zarista, ha abbandonato la Russia a seguito della Rivoluzione. Nel giro dello stesso anno diventerà uno degli uomini più fidati di Vannevar.</td>
			</tr>												
			<tr>
				<td>1920</td>
				<td>Nasce Paul</td>
			</tr>
			<tr>
				<td>1921</td>
				<td>Nasce Robert</td>
			</tr>
			<tr>
				<td>1928</td>
				<td>Nasce Alice</td>
			</tr>			
			<tr>
				<td>1929</td>
				<td>Grande Depressione Economica</td>
			</tr>
			<tr>
				<td>1932</td>
				<td>Nasce Maya</td>
			</tr>
			<tr>
				<td>1939</td>
				<td>Scoppia la Seconda Guerra Mondiale</td>
			</tr>
			<tr>
				<td>1941</td>
				<td>Gli Stati Uniti entrano in guerra, Paul e Robert vengono arruolati nell'esercito</td>
			</tr>
			<tr>
				<td>1944</td>
				<td>Zeno e Naira partecipano alla Rivolta Anarchica di Jeremy MacNeil: nasce il Libero Stato di California. Paul e Robert prendono parte allo Sbarco in Normandia.</td>
			</tr>
			<tr>
				<td>1945</td>
				<td>Paul, tornato dalla guerra, inizia a lavorare come meccanico nell'officina di suo nonno</td>
			</tr>			
			<tr>
				<td>1947</td>
				<td>Robert è testimone dell'Incidente di Roswell e decide di lasciare l'esercito</td>
			</tr>
			<tr>
				<td>1948</td>
				<td>Zeno, deluso dal loro <i>Status Perfectus</i>, lascia gli Anarchici</td>
			</tr>
			<tr>
				<td>1951</td>
				<td>Viene stipulata la Tregua di Fresno tra Camarilla e Anarchici di San Francisco: attorno all'Elixir Pub di Duncan si forma l'enclave anarchico. Zeno ritorna nella Camarilla</td>
			</tr>									
			<tr>
				<td>1952</td>
				<td>Proclamazione della Repubblica Popolare di Polonia. Otto fugge negli USA</td>
			</tr>
			<tr>
				<td>1953</td>
				<td>Dwight Eisenhower è eletto trentaquattresimo Presidente degli Stati Uniti d'America.</td>
			</tr>			
			<tr>
				<td>1954</td>
				<td>Grace Kelly soffia ad Alice il ruolo da protagonista per "Il delitto perfetto", stroncandone di fatto la carriera</td>
			</tr>							
			<tr>
				<td>1955</td>
				<td>Caso Rosa Parks: Edgar Anderson, il padre di Maya, si reca in Alabama per seguirlo in prima persona.</td>
			</tr>																			
		</tbody>
	</table>
</div>

<h2>Anni di Gioco</h2>
<div id="timeline">
	<table>
		<thead>
			<tr>
				<th>Anno</th>
				<th>Eventi</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1956</td>
				<td>
				{% for post in collections.cinquantasei %}
				<a href="{{ post.url }}" class="tag">{{ post.data.title }}</a>
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>1957</td>
				<td>{% for post in collections.cinquantasette %}
				<a href="{{ post.url }}" class="tag">{{ post.data.title }}</a>
				{% endfor %}</td>
			</tr>
      <tr>
				<td>1958</td>
				<td>{% for post in collections.cinquantotto %}
				<a href="{{ post.url }}" class="tag">{{ post.data.title }}</a>
				{% endfor %}</td>
			</tr>
      <tr>
				<td>1959</td>
				<td>{% for post in collections.cinquantanove %}
				<a href="{{ post.url }}" class="tag">{{ post.data.title }}</a>
				{% endfor %}</td>
			</tr>
      <tr>
				<td>1960</td>
				<td>{% for post in collections.sessanta %}
				<a href="{{ post.url }}" class="tag">{{ post.data.title }}</a>
				{% endfor %}</td>
			</tr>
      <tr>
				<td>1961</td>
				<td>{% for post in collections.sessantuno %}
				<a href="{{ post.url }}" class="tag">{{ post.data.title }}</a>
				{% endfor %}</td>
			</tr>
		</tbody>
	</table>
</div>