---
layout: layouts/home.njk
tags:
  - nav
navtitle: Mappe
permalink: /mappe/
date: 1956-01-01
---

<h1>Mappe</h1>

<p>Luoghi principali di San Francisco.</p>

<iframe src="https://www.google.com/maps/d/embed?mid=1nUhnjfI3a9MRb5TPdyuUOKQpacc" width="500" height="500"></iframe>

<h2>Territori</h2>

<iframe src="https://www.google.com/maps/d/embed?mid=1CiT0Lb-6BPn4tE_0CUH62D_EF-OF6CpY" width="500" height="500"></iframe>