---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Categoria “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist-nodate.njk" %}

<p>Vedi <a href="/tags/">tutte le categorie</a>.</p>
