---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{% if immagine %}
<div>
<img src="/{{ immagine }}" alt="{{ title }}" width="250" height="auto">
</div>
{% endif %}

{% for tag in tags %}
      {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
{% endfor %}

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>